.recursion-canvas {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.stack-visual {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.stack-title {
  text-align: center;
  margin-bottom: 15px;
  color: var(--text-muted);
}

.frames-container {
  flex: 1;
  border: 3px solid var(--text-muted);
  border-top: none;
  border-radius: 0 0 12px 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 0.05);
  min-height: 400px;
}

.stack-frame {
  background: white;
  margin-bottom: 8px;
  padding: 12px;
  border-radius: 8px;
  border-left: 5px solid var(--primary);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  animation: slideInBottom 0.4s ease-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stack-frame.returning {
  border-left-color: #10b981;
  background: #d1fae5;
}

.frame-func {
  font-weight: 700;
  /* color: var(--text-main); */
  color: #105fb9;
  font-family: sans-serif;
}

.frame-return {
  font-size: 0.85rem;
  color: var(--text-muted);
}

.val {
  font-weight: 700;
  color: #10b981;
}

.empty-stack {
  margin: auto;
  color: var(--text-muted);
  font-style: italic;
}

@keyframes slideInBottom {
  from { transform: translateY(-50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
